{% load static %}
<div class="board">
    <div class="square light"><span class="coord rank-label">8</span><img class="piece" src="{% static 'main/pieces/neo/br.png' %}" alt="Black rook"></div>
    <div class="square dark"><img class="piece" src="{% static 'main/pieces/neo/bn.png' %}" alt="Black knight"></div>
    <div class="square light"><img class="piece" src="{% static 'main/pieces/neo/bb.png' %}" alt="Black bishop"></div>
    <div class="square dark"><img class="piece" src="{% static 'main/pieces/neo/bq.png' %}" alt="Black queen"></div>
    <div class="square light"><img class="piece" src="{% static 'main/pieces/neo/bk.png' %}" alt="Black king"></div>
    <div class="square dark"><img class="piece" src="{% static 'main/pieces/neo/bb.png' %}" alt="Black bishop"></div>
    <div class="square light"><img class="piece" src="{% static 'main/pieces/neo/bn.png' %}" alt="Black knight"></div>
    <div class="square dark"><img class="piece" src="{% static 'main/pieces/neo/br.png' %}" alt="Black rook"></div>

    <div class="square dark"><span class="coord rank-label">7</span><img class="piece" src="{% static 'main/pieces/neo/bp.png' %}" alt="Black pawn"></div>
    <div class="square light"><img class="piece" src="{% static 'main/pieces/neo/bp.png' %}" alt="Black pawn"></div>
    <div class="square dark"><img class="piece" src="{% static 'main/pieces/neo/bp.png' %}" alt="Black pawn"></div>
    <div class="square light"><img class="piece" src="{% static 'main/pieces/neo/bp.png' %}" alt="Black pawn"></div>
    <div class="square dark"><img class="piece" src="{% static 'main/pieces/neo/bp.png' %}" alt="Black pawn"></div>
    <div class="square light"><img class="piece" src="{% static 'main/pieces/neo/bp.png' %}" alt="Black pawn"></div>
    <div class="square dark"><img class="piece" src="{% static 'main/pieces/neo/bp.png' %}" alt="Black pawn"></div>
    <div class="square light"><img class="piece" src="{% static 'main/pieces/neo/bp.png' %}" alt="Black pawn"></div>

    <div class="square light"><span class="coord rank-label">6</span></div>
    <div class="square dark"></div>
    <div class="square light"></div>
    <div class="square dark"></div>
    <div class="square light"></div>
    <div class="square dark"></div>
    <div class="square light"></div>
    <div class="square dark"></div>

    <div class="square dark"><span class="coord rank-label">5</span></div>
    <div class="square light"></div>
    <div class="square dark"></div>
    <div class="square light"></div>
    <div class="square dark"></div>
    <div class="square light"></div>
    <div class="square dark"></div>
    <div class="square light"></div>

    <div class="square light"><span class="coord rank-label">4</span></div>
    <div class="square dark"></div>
    <div class="square light"></div>
    <div class="square dark"></div>
    <div class="square light"></div>
    <div class="square dark"></div>
    <div class="square light"></div>
    <div class="square dark"></div>

    <div class="square dark"><span class="coord rank-label">3</span></div>
    <div class="square light"></div>
    <div class="square dark"></div>
    <div class="square light"></div>
    <div class="square dark"></div>
    <div class="square light"></div>
    <div class="square dark"></div>
    <div class="square light"></div>

    <div class="square light"><span class="coord rank-label">2</span><img class="piece" src="{% static 'main/pieces/neo/wp.png' %}" alt="White pawn"></div>
    <div class="square dark"><img class="piece" src="{% static 'main/pieces/neo/wp.png' %}" alt="White pawn"></div>
    <div class="square light"><img class="piece" src="{% static 'main/pieces/neo/wp.png' %}" alt="White pawn"></div>
    <div class="square dark"><img class="piece" src="{% static 'main/pieces/neo/wp.png' %}" alt="White pawn"></div>
    <div class="square light"><img class="piece" src="{% static 'main/pieces/neo/wp.png' %}" alt="White pawn"></div>
    <div class="square dark"><img class="piece" src="{% static 'main/pieces/neo/wp.png' %}" alt="White pawn"></div>
    <div class="square light"><img class="piece" src="{% static 'main/pieces/neo/wp.png' %}" alt="White pawn"></div>
    <div class="square dark"><img class="piece" src="{% static 'main/pieces/neo/wp.png' %}" alt="White pawn"></div>

    <div class="square dark"><span class="coord rank-label">1</span><span class="coord file-label">a</span><img class="piece" src="{% static 'main/pieces/neo/wr.png' %}" alt="White rook"></div>
    <div class="square light"><span class="coord file-label">b</span><img class="piece" src="{% static 'main/pieces/neo/wn.png' %}" alt="White knight"></div>
    <div class="square dark"><span class="coord file-label">c</span><img class="piece" src="{% static 'main/pieces/neo/wb.png' %}" alt="White bishop"></div>
    <div class="square light"><span class="coord file-label">d</span><img class="piece" src="{% static 'main/pieces/neo/wq.png' %}" alt="White queen"></div>
    <div class="square dark"><span class="coord file-label">e</span><img class="piece" src="{% static 'main/pieces/neo/wk.png' %}" alt="White king"></div>
    <div class="square light"><span class="coord file-label">f</span><img class="piece" src="{% static 'main/pieces/neo/wb.png' %}" alt="White bishop"></div>
    <div class="square dark"><span class="coord file-label">g</span><img class="piece" src="{% static 'main/pieces/neo/wn.png' %}" alt="White knight"></div>
    <div class="square light"><span class="coord file-label">h</span><img class="piece" src="{% static 'main/pieces/neo/wr.png' %}" alt="White rook"></div>
</div>
